body {
  margin: 0;
  background: #000;
  color: #f4eddf;
  height: 100vh;
  overflow: hidden;

  font-family: "Tajamuka", serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz {
  width: min(600px, 92vw);
  text-align: center;

  border: 10px solid #12e034;
  border-radius: 20px;

  padding: 20px;
  box-sizing: border-box;
}

h1 {
  font-size: clamp(45px, 7vw, 80px);
  margin: 0 0 25px 0;
}

.answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.answer {
  background: #000;
  color: #f4eddf;

  min-height: 160px;
  padding: 15px 20px;
  box-sizing: border-box;

  border: 3px solid;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

@font-face {
  font-family: "Tajamuka";
  src: url("./fonts/Tajamuka Script.ttf") format("truetype");
}

@font-face {
  font-family: "Lemon Brush";
  src: url("./fonts/LemonBrushRegular.otf") format("opentype");
}

.arabic {
  font-family: "Lemon Brush", sans-serif;
  font-size: clamp(45px, 6vw, 70px);
  font-weight: normal;

  height: 90px;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1;
}

.latin {
  font-family: "Tajamuka", serif;
  font-size: clamp(32px, 4vw, 50px);

  line-height: 1;
  margin-top: 5px;
}

.answer:hover {
  background: #f0188f;
}

#feedback {
  font-size: clamp(25px, 3vw, 35px);
  margin: 15px 0 0 0;
}

#continue-btn {
  font-family: "Tajamuka", serif;
  font-size: clamp(28px, 3vw, 35px);

  background: #000;
  color: #f4eddf;

  border: 3px solid #8dc9f1;
  border-radius: 20px;

  padding: 8px 30px;
  margin-top: 15px;

  cursor: pointer;
}

#continue-btn:hover {
  background: #7558ac;
}

@media (max-width: 700px) {
  .quiz {
    padding: 15px;
  }

  .answers {
    gap: 12px;
  }

  .answer {
    min-height: 140px;
    padding: 10px 15px;
  }
}